.footer {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  min-height: 154px;
  padding: 79px 0 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__project-info {
  color: #a0a0a0;
  margin: 0 0 21px;
  position: relative;
}
.footer__project-info::after {
  content: "";
  left: 0;
  right: 0;
  bottom: -21px;
  background-color: #a0a0a0;
  height: 1px;
  position: absolute;
}

.footer__copyright {
  margin: 0;
  color: #a0a0a0;
}
.footer__platfoms-block {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer {
    min-height: 73px;
    font-size: 13px;
  }
  .footer__lower-block {
    margin: 20px 10px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .footer__platfoms-block {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .footer__copyright {
    color: #000000;
  }
}

@media screen and (min-width: 1280px) {
  .footer__lower-block {
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer {
    background-color: #fafafa;
    margin-left: -70px;
    margin-right: -70px;
    padding-left: 70px;
    padding-right: 70px;
  }
}
